html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
}

.container {
	width: 100%;
}

#main-content {
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	padding-left: 0px;
	padding-right: 0px;
}

#map {
	height: 100%;
	width: 100%;
}

#pointList {
	width: 20%; color : black;
	position: absolute;
	top: 6px; /* adjust value accordingly */
	right: 10px; /* adjust value accordingly */
	background-color: #82b5f5;;
	opacity: 0.8;
	color: black;
}